/* CSS declarations go here */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

/*Maple- start*/
#navBar {
    border-top: 1px solid #ddd;
    padding: 6px;
    width: 98%;
    float: left;
    font-weight: 100;
    align-content: center;
    align-items: center;
}

#search {
    position: relative;
    z-index: 2;
    float: left;
    width: 60%;
    margin-bottom: 0;
    height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-right: 10px;
}

#titleBar, .createInner {
    width: 98%;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    display: table;
    border-color: lightgray;
}

#tableView {
    text-align: center;
    width: 10%;
    float: left;
}

#tableEvent {
    color: #337ab7;
    text-align: left;
    width: 44%;
    float: left;
}

#tableOrganiser {
    color: #337ab7;
    text-align: left;
    width: 24%;
    float: left;
}

#tableDate {
    text-align: left;
    width: 14%;
    float: left;
}

#tableView, #tableEvent, #tableOrganiser, #tableDate{
    display: table-cell;
    margin: 1%;
    color: black;
}

#totalDisplay{
    width: 100px;
    height: 34px;
    float: left;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: monospace;
}

#createEvent {
    width: 140px;
    height: 34px;
    margin: 15px;
    float: left;
    display: table;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
    background: #5cb85c;
    color: white;
    border-color: #4cae4c;
}

#searchIcon {
    width: 70px;
    padding: 2px;
    margin: 5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: white;
    border-color: lightgray;
    color: gray;
}

.container {
  width: 100%
  margin: 0 auto;
  min-height: 100%;
  background: white;
    
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-color: grey;
}

#create, #close {
    position: relative;
    min-height: 1px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#close {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    background: #5cb85c;
    color: white;
    border-color: #4cae4c;
}


/*Maple -edn*/

header {
  background: black;
    color: ghostwhite;
    padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;

    background: cornflowerblue;
    color: whitesmoke;
    border-color: dodgerblue;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input, .dropdown{
   padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
        
    box-sizing: border-box;
    border-collapse: collapse;
    
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
}


.new-task input:focus{
  outline: 1px;
}